<!DOCTYPE HTML>
<html>
    <head>
    	<title>App builder</title>
		<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"></script>
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.13/jquery-ui.min.js"></script>
		<script type="text/javascript" src="3rd/jquery.tmpl.min.js"></script>
		<script type="text/javascript" src="3rd/underscore-min.js"></script>
		<script type="text/javascript" src="src/utils.js"></script>
		<link rel="stylesheet" href="3rd/overcast/jquery-ui-1.8.9.custom.css">
		<link rel="stylesheet" href="styles.css">
	</head>
	<body>
		<div id="loading">Loading...</div>

		<script id="mainTemplate" type="text/x-jquery-tmpl">
<div class="library">
	<ul>
		<li><div class="libControl" data-libType="Label">Label</div></li>
		<li><div class="libControl" data-libType="TextField">Text field</div></li>
		<li><div class="libControl" data-libType="TextArea">Text area</div></li>
		<li><div class="libControl" data-libType="Switch">Switch</div></li>
		<li><div class="libControl" data-libType="Button">Button</div></li>
		<li><div class="libControl" data-libType="SearchBar">Search bar</div></li>
	</ul>
	<button id="generate">Generate</button>
</div>
		</script>
		<script id="propertiesTemplate" type="text/x-jquery-tmpl">
		<div>
			<div class="propertiesList">
				<table>
				{{each interfaces}}
					<tr>
						<th colspan="2">${$value}</th>
					</tr>
					{{if $value == 'DOMView'}}
						{{tmpl({properties: {
							layout: "layout"
						}, control: control}) "propertiesList"}}
					{{else $value == 'Touchable'}}
						{{tmpl({properties: {
							touchEnabled: "bool"
						}, control: control}) "propertiesList"}}
					{{else $value == 'Styleable'}}
						{{tmpl({properties: {
							backgroundColor: "color",
							focusable: "bool",
							backgroundImage: "file",
							backgroundSelectedColor: "color",
							backgroundSelectedImage: "file",
							backgroundFocusedColor: "color",
							backgroundFocusedImage: "color",
							borderWidth: "int",
							borderColor: "color",
							borderRadius: "int",
							fontVariant: "text",
							fontStyle: "text",
							fontWeight: "text",
							fontSize: "fontSize",
							fontFamily: "fontFamily",
							opacity: "opacity",
							zIndex: "int",
							backgroundGradient: "backgroundGradient",
							visible: "bool",
							color: "color"
						}, control: control}) "propertiesList"}}
					{{/if}}
				{{/each}}
				{{tmpl({properties: properties, control: control}) "propertiesList"}}
				</table>
			</div>
		</div>
		</script>
		<script id="propertiesListTemplate" type="text/x-jquery-tmpl">
			{{each properties}}
				{{tmpl({propertyName: $index, propertyType: properties[$value], propertyValue: control[$index]}) "property"}}
			{{/each}}
		</script>
		<script id="propertyTemplate" type="text/x-jquery-tmpl">
			<tr>
				<td>${propertyName}</td>
				<td>
					<input type="text" name="${propertyName}" value="${propertyValue}" />
					{{if propertyType == 'text'}}
					{{else propertyType == 'int'}}
					{{else}}
					{{/if}}
				</td>
			</tr>
		</script>
		<script id="generatorTemplate" type="text/x-jquery-tmpl">
			<div>
				<textarea id="generator"></textarea>
			</div>
		</script>
		<script id="messageTemplate" type="text/x-jquery-tmpl">
			<div class="message ${className} ui-corner-all">
				<div class="closeButton ui-icon ui-icon-close"></div>
				<div class="messageText">
					{{if icon}}
						<span class="ui-icon ${icon}"></span>
					{{/if}}
					${message}
				</div>
			</div>
		</script>

		<script type="text/javascript" src="titanium.js"></script>
		<script type="text/javascript" src="src/core.js"></script>
	</body>
</html>
