body {
	padding: 0;
	margin: 0;
	font-size: 12pt;
}

.library {
	position: absolute;
	width: 100%;
	height: 10%;
	border: 1px solid black;
	background-color: #BCBCBC;
}

.canvas, .properties {
	position: absolute;
	top: 10%;
	float: left;
	height: 90%;
}

.canvas {
	width: 80%;
	border: 1px solid black;
	background-color: #BCBCBC;
	background-image: url("styles/bg_canvas.png");
}

.properties {
	left: 80%;
	width: 20%;
	border: 1px solid black;
	background-color: #BCBCBC;
}

.library ul {
	list-style: none;
}


.library ul li {
	float: left;
	margin: 0 0.1em;
	cursor: pointer;
}
