body {
	padding: 0;
	margin: 0;
	font-size: 12pt;
}

.library, .canvas, .properties {
	box-sizing: border-box;
}

.library {
	position: absolute;
	width: 100%;
	height: 10%;
	border: 1px solid black;
	background-color: #BCBCBC;
}

.canvas {
	position: absolute !important;
	top: 10% !important;
	height: 90% !important;
	width: 100% !important;
	border: 1px solid black !important;
	background-color: white !important;
	background-image: url("styles/bg_canvas.png") !important;
	background-repeat: repeat !important;
}

.canvas.active {
	border: 1px solid orange !important;
}

.library ul {
	list-style: none;
}


.library ul li {
	float: left;
	margin: 0 0.1em;
	cursor: pointer;
}

.library .libControl {
	border:  2px solid orange;
	padding: 0.1em 0.5em;
}

button#generate {
	position: absolute;
	right: 1em;
	top: 1em;
	font-size: 1em;
}

#generator {
	width: 30em;
	height: 30em;
}

.generatorDialog {
	width: 32.5em !important;
	height: 34em !important;
}

.ui-draggable {
	z-index: 100;
}
